In [4]:
import pandas as pd

appointment_data_df = pd.read_csv('/Users/adriangallant/PycharmProjects/stagathon/staghack/data/Appointment Data.csv')

new_patient_data_df = pd.read_csv('/Users/adriangallant/PycharmProjects/stagathon/staghack/data/New Patient Data.csv')

provider_schedule_data_df = pd.read_csv('/Users/adriangallant/PycharmProjects/stagathon/staghack/data/Provider Schedule Data.csv')

provider_state_data_df = pd.read_csv('/Users/adriangallant/PycharmProjects/stagathon/staghack/data/Provider State Data.csv')

In [6]:
new_patient_data_df['PATIENTID'].nunique()

442

In [13]:
appointment_data_df.head()

,APPOINTMENTID,APPOINTMENTDATE,APPOINTMENTSTARTTIME,APPOINTMENTDURATION,PROVIDERID
0,291760,2025-01-29,12:30 PM,60,118
1,283660,2025-01-02,05:30 PM,60,297
2,294363,2025-01-31,01:30 PM,10,201
3,294472,2025-01-31,04:00 PM,10,103
4,294374,2025-01-31,01:30 PM,10,248

In [3]:
new_patient_data_df.head()

   PATIENTID STATE REGISTRATIONDATE        PROGRAM
0      23136    KY       2025-01-25            SUD
1      23135    ME       2025-01-25  Mental Health
2      23096    KY       2025-01-23            SUD
3      23099    ME       2025-01-23  Mental Health
4      23080    CT       2025-01-23  Mental Health

          PATIENTID
count    442.000000
mean   21888.601810
std     3337.552054
min     8001.000000
25%    22879.250000
50%    22992.500000
75%    23107.750000
max    23218.000000

In [4]:
provider_schedule_data_df.head()

   PROVIDERID  DAYOFWEEK SLOTSTARTTIME SLOTENDTIME
0         398          1         12:00       12:40
1         398          1         12:40       13:20
2         398          1         13:20       14:00
3         398          1         14:00       14:40
4         398          1         14:40       15:20

In [5]:
provider_state_data_df.head()

   PROVIDERID STATE
0         100    DE
1         100    WV
2         104    NH
3         108    KY
4         108    ME

In [16]:
# new patient sorted by registration date and ID
np_sorted = new_patient_data_df.sort_values(by=['REGISTRATIONDATE', 'PATIENTID'], ascending=True)
np_sorted

     PATIENTID STATE REGISTRATIONDATE        PROGRAM
135      22833    WV       2025-01-01            SUD
441      22834    KY       2025-01-01            SUD
209      22835    NH       2025-01-02  Mental Health
208      22836    WV       2025-01-02            SUD
294      22837    ME       2025-01-02  Mental Health
..         ...   ...              ...            ...
404      23214    MA       2025-01-31  Mental Health
403      23215    CT       2025-01-31            SUD
160      23216    ME       2025-01-31  Mental Health
408      23217    PA       2025-01-31  Mental Health
402      23218    WV       2025-01-31            SUD

[442 rows x 4 columns]

In [19]:
# provider state sorted by state
ps_sorted = provider_schedule_data_df.sort_values(by=['STATE'], ascending=True)

KeyError: 'STATE'

In [ ]:
def __get_earliest_timeslot(self, available_time_slots_df:pd.DataFrame) -> pd.DataFrame:
    """
    Looks at the available_time_slots dataframe and retrieves information about the
    earliest available timeslot

    Args:
        available_time_slots_df (pd.DataFrame): contains list of available timeslots for appointments

    Returns:
        pd.DataFrame: information about the earliest appointment
    """
    available_time_slots_df['START_DATETIME'] = pd.to_datetime(available_time_slots_df['START_DATETIME'])

    earliest_appointment = available_time_slots_df.loc[available_time_slots_df['START_DATETIME'].idxmin()]

    return earliest_appointment